/*---------------------------------------------------------------------------------
  Theme: Ocurrestrap
  Version: 1.0
  Author: ocurre.io
  Author URI: https://www.ocurre.io
  -----------------------------------------------------------------------------------
  0.	  Import
  1.	  Document Setup
  2.	  Header / Navbar
  3.    Frontpage
  4.    Page
  5.    Single
  6.    Footer
  ----------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------- */
/*	0. Import
/* -------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------- */
/*	0. Header / Navbar
/* -------------------------------------------------------------------------------- */

nav { //ocurre starter derivado de understrap

  #navbar {
    
    #main-menu {

      li {
        padding: 0;
      }
    
      & a[aria-current] {
        background: $primary;
      }

    }

    .nav-link {
      padding: 1rem;

      &:hover {
        background-color: $primary;
      }

    }

  }

};