.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    max-width: 55px;
  }

  #main-menu, #wrapper-navbar button {
    text-transform: uppercase;
    font-size: 13px;
    border: 0;
    background-color: transparent;

    @include media-breakpoint-down(sm) {
      font-size: 18px!important;
    }

  }

  #main-menu li {
    padding-left: .5rem;
    padding-right: .5rem;

    @include media-breakpoint-down(sm) {
      position: relative;
      display: block;
      padding: 24px 36px;
      font-size: 17px;
      font-weight: bold;
      color: #202121;
      cursor: pointer;
      border-bottom: 1px solid #dee2e6!important;
      transition: background 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out;
    }

  }

  #main-menu li a {
    font-size: 13px;
    color: $dark!important;

    @include media-breakpoint-down(sm) {
      font-size: 18px;
    }

  }

  .nav-link {
    padding: 0 1.3rem 0;
  }

  /* Toggler ------------*/
  #menu-toggler input {
    @include media-breakpoint-up(md) {
      display: none;
    }
  }
/* Side navbar -----------*/
.sidenav {
    flex-grow: 1;
    background-color: white;
    height: 100vh;
    position: fixed;
    z-index: 10000;
    width: 100vw;
    padding-top: 60px;
    top: 0;
    left: 0;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .navbar-toggler {
    padding: .25rem 1.75rem;
    border-radius: 0;
    border-color: transparent !important;
    z-index: 1301;
  }

  /* Responsive Navbar .show -------------------------------------------------------------*/    
  #page.site .show { 
    border: 0;
  }

  #navbarNavDropdown {
    overflow-y: auto;
    white-space: initial;
    
    button {
      border: 0;
      background-color: transparent;
      font-weight: 700;
      font-size: 25px;
    }

    .follow {
      padding: 24px 21px;
    }
    
    .border-top {
      border-top: 1px solid #dee2e6!important;
    }

    ul.dropdown-menu {
      position: inherit!important;
      transform: none!important;
      background-color: transparent;
      border: 0;

      li a {
        font-family: 'Jost', sans-serif;
        font-weight: bold;
        white-space: initial;
      }
    }

    .dropdown-item {
      padding: 0;
    }

  }

  .menu-principal-container {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
  }

  .navbar-collapse.show {
    top: 0;
    left: 0;
    width: 85vw;
    height: -webkit-fill-available;
    z-index: 1050;
  }

  .navbar-collapse.collapsing { //Transición entre .navbar-collapse y .navbar-collapse.show
      display: none;
  }

  .closebtn {
    position: relative;
    top: 0;
    font-size: 24px;
  }
